
<footer id="footer" class="footer-hover-links-light pt-4 mt-0">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 mb-4 mb-lg-0">
				<h2 class="font-weight-semibold text-1 mb-3">LIÊN HỆ</h2>
				<ul class="list list-unstyled mb-4">
					<li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <strong class="text-color-light">Địa chỉ:</strong>
						Tầng 16 Tòa nhà Cục Tần số vô tuyến điện -<p class="text-center">115 Trần Duy Hưng - Cầu giấy - Hà Nội.</p>
					</li>
					<li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <strong class="text-color-light">Điện thoại:</strong>
						<a href="tel:+84439436684"> (+84) 043.943.6684</a></li>
					<li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <strong class="text-color-light">Email:</strong>
						<a href="mailto:mail@example.com" class="link-underline-light">mail@example.com</a></li>
				</ul>
				<ul class="social-icons social-icons-transparent social-icons-iconlight social-icons-lg">
					<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
					<li class="social-icons-googleplus"><a href="https://plus.google.com/?hl=vi" target="_blank" title="Googleplus"><i
							 class="fab fa-google-plus-g"></i></a></li>
					<li class="social-icons-skype"><a href="https://www.skype.com/en/" target="_blank" title="skype"><i class="fab fa-skype"></i></a></li>
				</ul>
			</div>
			<div class="col-lg-3 mb-4 mb-lg-0">
				<h2 class="font-weight-semibold text-1 mb-3">TRANG LIÊN KẾT</h2>
				<ul class="list list-unstyled">
					<li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="https://ais.gov.vn/home.htm">Cục an toàn
							thông tin</a></li>
					<li class="mb-2"><i class="fas fa-angle-right mr-2 ml-1"></i> <a href="http://mic.gov.vn/Pages/trangchu.aspx">Bộ
							thông tin truyền thông</a></li>

				</ul>
			</div>
			<div class="col-lg-5">
				<h2 class="font-weight-semibold text-1 mb-3">GỬI TIN NHẮN</h2>
				<form class="contact-form contact-form-dark form-errors-light" action="php/contact-form.php" method="POST">
					<div class="contact-form-success alert alert-success d-none">
						Tin nhắn của bạn đã được gửi thành công.
					</div>
					<div class="contact-form-error alert alert-danger d-none">
						<strong>Lỗi!</strong> Tin nhắn gửi đi không thành công.
						<span class="mail-error-message d-block"></span>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input type="text" value="" data-msg-required="Chưa nhập họ tên" maxlength="100" class="form-control" name="name"
							 id="name" placeholder="Họ tên" required>
						</div>
						<div class="form-group col-md-6">
							<input type="email" value="" data-msg-required="Chưa nhập địa chỉ E-mail" data-msg-email="Sai cấu trúc địa chỉ E-mail (mail@example.com)"
							 maxlength="100" class="form-control" name="email" id="email" placeholder="E-mail" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col">
							<input type="text" value="" data-msg-required="Chưa nhập tiêu đề" maxlength="100" class="form-control" name="subject"
							 id="subject" placeholder="Tiêu đề" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col">
							<textarea maxlength="5000" data-msg-required="Chưa nhập nội dung tin nhắn" rows="5" class="form-control" name="message"
							 id="message" placeholder="Nội dung" required></textarea>
						</div>
					</div>
					<div class="form-row mt-2">
						<div class="col">
							<input type="submit" value="GỬI" class="btn btn-primary btn-rounded btn-4 font-weight-semibold text-0"
							 data-loading-text="Loading...">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<a href="#"><img src="{{ 'assets/img/logo.png'|theme }}" width="78" height="70" alt="EZY Theme" class="img-fluid" /></a>
					<p class="pt-3 pb-5">Bản quyền thuộc Trung tâm giám sát an toàn không gian mạng quốc gia. </p>
				</div>
			</div>
		</div>
	</div>
</footer>